@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-green: #2F9A10;
  --color-primary-green-dark: #1f670b;
  --color-primary-blue: #0BA5EC;
  --color-primary-blue-dark: #076e9d;

  /* custom color */
  --color-off-green: #DCFAE6;
  --color-french-pass: #D1E9FF;
  --shadow-auth-card: 0px -30px 34px 0px rgba(0, 0, 0, 0.1);
  --color-aztex-purple: #6944EF;
  --color-crocus-purple: #9071FF;
  --color-butterfly-blue: #0BA5EC;
  --color-jordy-blue: #74C5EB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.PhoneInputInput {
  @apply p-0! text-[14px]! border-none!  w-full! outline-0! shadow-none!;
}

.PhoneInputInput {
  background: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}